@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.App {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}
.main-wrapper {
  padding: 4rem 8.75%;
  color: #101828;
  .main-section {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.5rem;
      .profile-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        position: relative;
        width: 100%;
        img {
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
        }
        .twitter-id {
          font-size: 1.25rem;
          line-height: 33px;
          font-weight: 700;
          margin: 0;
        }
        .slack-id {
          display: none;
        }
        .share-button {
          position: absolute;
          top: -1.3rem;
          right: 17%;
          width: 2.5rem;
          height: 2.5rem;
          border: 1px dashed #D0D5DD;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 28px;
            height: 28px;
          }
        }
        .share-dots {
          position: absolute;
          top: -1.3rem;
          right: 0;
          width: 2.5rem;
          height: 2.5rem;
          border: 1px dashed #D0D5DD;
          border-radius: 50%;
          display: none;
          align-items: center;
          justify-content: center;
          img {
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }
      .link-section {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        gap: 3rem;
        width: 100%;
        .button {
          background: #EAECF0;
          border: 1px solid #EAECF0;
          border-radius: 8px;
          width: 100%;
          text-align: center;
          padding: 1.5rem 0;
          font-weight: 500;
          text-decoration: none;
          color: #101828;
        }
      }
    }
    .social-section {
      padding: 1.5rem 0;
      .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-wrapper .main-section .content .profile-section {
    .share-button {
      display: none;
    }
    .share-dots {
      display: flex;
    }
  }
}

@media screen and (max-width: 450px) {
  .main-wrapper {
    padding: 4rem 1rem;
    .main-section {
      padding: 0;
    }
  }
}
